 *{
   margin: 0;
    padding: 0;
    box-sizing: border-box;
 }
 /* header */
 header{
   min-height: 100vh;
   width: 100%;
   background-color: #264653;
   position: fixed;
   

   
 }

 /* container */
 .container{
  max-width: 1140px;
  width: 90%;
  margin:  0 auto;

 }



 .nav{
 

  
 }

 .Nav-Bar{

 display: flex;
   justify-content: flex-end;
   position: relative;
   gap: 100px;
   padding: 20px auto;
   align-items: center;
   text-align: center;
   margin: 52px;
   
 

 }
 /* navBar */

 .navBar{
  display: flex;
   position: relative;
   gap: 36px;
   justify-content: center;
   align-content: center;
 
 }
 .navBar a{
        color: white;
     
        text-decoration: none;
        font-size: 16px;
        font-weight: 400;

        
 }
 
 

 /* btn-btton button */
 .btn-btton button{
  width: 91px;
  height: 44px;
  background-color:#E76F51;
  border-radius: 5px;
  position: relative;
  gap: 8px;
  color: #FFFFFF;
  font-size: 16px;
  font-weight: 500;
  order: 0;
 
 }
  .btn-btton button:hover{
     background-color: #15ca52;
    color: #264653;
    font-size: 20px;
    font-weight: 500;
    border-radius: 10px;
    transition: all 0.5s ease; 
    animation-duration: 4s;
     animation-name: jahid;
    
  }
  @keyframes jahid {

    from {background-color: #15ca52;
          color: white;
    }
    to { background-color: #264653;
       color: white;
    }
    }
    
 


    .click-button{
      display: none;
       position: relative;
       justify-content: flex-end;
       right: 0;
       top: 52px;
       width: 21px;
    
       height: 3px;
       color: #FFFFFF;
       font-size: 20px;
    }
  /* ==========================responsive lay out=================================  */

  @media screen and (max-width:768px){

   .nav{
     display: none
   }
    .click-button{

      position: absolute;
      display: block;
      margin-right: 25px;
    }

    .showNav{
      display: block;
    }

    .Nav-Bar{
      display: flex;
      position:  relative;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 36px;
        
       height: 100vh;
       background-color: red;
        
        
       width:100%;
    }
    .navBar{
       display: flex;
       position: relative;
       flex-direction: column;
    
     
        
    }

    .navBar a{
      display: flex;
       width: 91px;
       height: 44px;
       background: #15ca52;
       align-items: center;
       justify-content: center;
      border-radius: 10px;
    }

  }
    
 


